@media (min-width: 925px) {
  #main .sidebar {
    width: 150px !important;
    padding-right: 0 !important;
  }
  #main .page {
    width: calc(100% - 150px) !important;
    padding-right: 150px !important;
  }
}

@media (min-width: 1280px) {
  #main .sidebar {
    width: 170px !important;
  }
  #main .page {
    width: calc(100% - 170px) !important;
    padding-right: 170px !important;
  }
}

.sidebar .author__avatar img {
  max-width: 100px !important;
}

.sidebar .author__content p,
.sidebar .author__urls-wrapper {
  font-size: 0.85em !important;
}
